body {
	background: linear-gradient(90deg, black, pink);
}

.search-blog {
	display: flex;
	flex-direction: column;

	width: 400px;
	margin: 0 auto;
}

.search-input {
	width: 100%;
	padding: 10px 10px;
	border: none;
	background-color: transparent;
	margin-bottom: 20px;
	font-size: 20px;
	border-bottom: 2px solid #3f3f3f;
	color: #e8e8e8;
	outline: none;
}

::placeholder {
	color: rgb(140, 164, 232);
}

.templateDiv {
	margin-bottom: 8px;
	font-size: 20px;
	color: #c2c2c2;
	border-bottom: 1px solid #8d8d8d;
}